body {
  margin: 0;
  font-family: "Oxygen", cursive;
  background: linear-gradient(to bottom, #a1c4fd, #fbc2eb, #ffe4e1);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  padding-top: 20px;
  margin-bottom: 100px;
  animation: fadeIn 2s ease-in-out;
}

.hero h1 {
  font-size: 4rem;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: 10px;
  animation: bounce 2s infinite;
}

.message {
  margin: 30px auto;
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.6;
  padding: 20px;
  color: white;
}

.footer {
  margin-top: 50px;
  font-size: 1.5rem;
  color: #ff69b4;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff69b4;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

button:hover {
  background-color: #ff85c0;
  transform: scale(1.05);
}

.play-music {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a1c4fd;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.wrapper-footer {
  margin-bottom: 200px;
}
